.education-university-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 32px;
}
.education-university-title {
  margin-bottom: 32px;
  font-family: Poppins;
}
.education-university-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  padding: 20px;
  border-radius: 4px;
  background-color: #faf9f9;
  min-height: 200px;
}
.education-university-item:before {
  content: "";
  position: absolute;
  top: 20px;
  left: -6px;
  width: 6px;
  height: 24px;
  border-radius: 2px 0 0 2px;
  background-color: var(--primary-btn);
}
.education-university-item-title {
  text-transform: uppercase;
  font-family: Poppins;
}
.education-university-item-time {
  position: absolute;
  right: 4px;
  bottom: 4px;
  padding: 4px;
  width: fit-content;
  border-radius: 4px 0 0 4px;
  color: #666666;
}
/* courses */
.education-course-title {
  margin-bottom: 32px;
  font-family: Poppins;
}
.education-course-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 32px;
}
.education-course-item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #faf9f9;
}
.education-course-item:before {
  content: "";
  position: absolute;
  top: 20px;
  left: -6px;
  width: 6px;
  height: 24px;
  border-radius: 2px 0 0 2px;
  background-color: grey;
}
.education-course-item-institution {
  text-transform: uppercase;
}
/* Idiom */
.education-idiom-title {
  margin-bottom: 32px;
  font-family: Poppins;
}
.education-idiom-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.education-idiom-item {
  position: relative;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  gap: 20px;
  padding: 20px;
  background-color: #faf9f9;
}
.education-idiom-item:before {
  content: "";
  position: absolute;
  top: 20px;
  left: -6px;
  width: 6px;
  height: 24px;
  border-radius: 2px 0 0 2px;
  background-color: grey;
}
.education-idiom-item-title {
  font-family: Poppins;
}
@media (max-width: 1200px) {}
@media (max-width: 1000px) {
  .education-university-list,
  .education-course-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .education-university-list,
  .main .education-course-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .education-university-item-title,
  .education-university-item-course,
  .education-university-item-institution {
    max-width: none;
  }
  .education-university-list,
  .education-course-list,
  .education-idiom-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .education-university-list,
  .education-course-list{
    grid-template-columns: 1fr;
  }
}