.footer-bg {
    width: 100%;
  }
  .footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-info {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
  .footer-title {
    font-size: 2rem;
    font-family: Poppins;
  }
  .footer-subtitle {
    font-size: 1.5rem;
    font-family: Poppins;
  }
  .footer-subtitle-highlight {
    color: var(--primary-text);
    font-family: Poppins;
  }
  .footer-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 20px;
    font-family: Poppins;
  }
  .footer-buttons .footer-linkedin svg {
    fill: var(--primary-btn);
  }
  .footer-qrcode {
    border-radius: 4px;
    width: 100px;
    height: 100px;
    background-color: var(--primary-bg);
  }
  .footer-form {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .form-title {
    font-family: Poppins;
  }
  .footer-form label {
    font-family: Poppins;
  }
  .footer-form input,
  .footer-form textarea {
    padding: 16px;
    border: 1px solid grey;
    border-radius: 4px;
  }
  .footer-form input:focus,
  .footer-form textarea:focus {
    outline: 2px solid blue;
  }
  .footer-form textarea {
    height: 200px;
    resize: none;
  }
  .footer-form .form-btn {
    background-color: var(--primary-btn);
    color: var(--tertiary-btn);
    font-family: Poppins;
  }
  @media (max-width: 800px) {
    .footer {
      grid-template-columns: repeat(1, 1fr);
      gap: 32px;
    }
  }