/* Header */
.header-bg {
  width: 100%;
}
.header {
  width: 100%;
}
.header .nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav .menu-mobile {
  display: none;
  padding: 8px;
  margin-right: 32px;
}
.active {
  display: flex !important;
}
.header .nav .menu-mobile:hover {
  cursor: pointer;
  scale: 1.1;
}
.header .nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
}
.header .nav-link {
  padding: 8px 8px;
  color: var(--secondary-text);
  font-family: Poppins;
  animation-name: appear;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: inherit;
}
@media (max-width: 800px) {
  .header .nav {
    display: flex;
    justify-content: end;
    height: 48px;
  }
  .header .nav .menu-mobile {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 32px;
  }
  .header .nav .menu-mobile div {
    border-radius: 4px;
    width: 32px;
    height: 4px;
    background-color: black;
  }
  .header .nav-list {
    z-index: 2;
    position: absolute;
    top: 32px;
    display: none;
    flex-direction: column;
    gap: 1px;
    background-color: #ffffff;
  }
  .header .nav-link {
    display: block;
    text-transform: uppercase;
    background-color: grey;
    color: #ffffff;
    line-height: 32px;
    width: 200px;
  }
}
