.intro-bg {
  width: 100%;
  position: relative;
  padding: 32px;
}
.intro {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.intro-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}
.intro-title {
  font-family: Poppins;
  font-size: 3rem;
  animation-name: appear;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: inherit;
}
.intro-subtitle {
  font-size: 1.5rem;
  color: var(--secondary-text);
  font-family: Poppins;
  animation-name: appear;
  animation-duration: .6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: inherit;
}
.intro-subtitle-highlight {
  color: var(--primary-text);
  font-family: Poppins;
  animation-name: appear;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: inherit;
}
.intro-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 20px;
  animation-name: appear;
  animation-duration: .8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: inherit;
}
.intro-contact {
  padding: 8px 16px;
  background-color: var(--primary-bg);
  color: var(--tertiary-text);
  border-radius: 4px;
  text-transform: uppercase;
  font-family: Poppins;
}
.intro-github svg {
  fill: var(--secondary-btn);
}
.intro-linkedin svg {
  fill: var(--primary-btn);
}
.intro-qrcode {
  border-radius: 4px;
  width: 100px;
  height: 100px;
  background-color: var(--primary-bg);
  animation-name: appear;
  animation-duration: .9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: inherit;
}
.intro-img {
  place-self: end;
  max-width: 400px;
  margin-right: 32px;
  animation-name: appear;
  animation-duration: .4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: inherit;
}
.intro-img img {
  width: 100%;
}
@media (max-width: 800px) {
  .intro-bg {
    position: relative;
  }
  .intro {
    grid-template-columns: repeat(1, 1fr);
  }
  .intro-img {
    position: absolute;
    z-index: -1;
    width: 300px;
  }
  .intro-title {
    font-size: 2.5rem;
  }
  .intro-text {
    max-width: 40ch;
  }
  .intro-img {
    place-self: end;
  }
}
@media (max-width: 700px) {
  .intro-img {
    display: none;
  }
}
@media (max-width: 500px) {
  .intro-info {
    position: relative;
  }
}
@media (max-width: 350px) {
  .intro-bg::after {
    display: none;
  }
}