@import url('./reset.css');
@import url('./variables.css');
@import url('./header.css');
@import url('./main.css');
@import url('./intro.css');
@import url('./specialist.css');
@import url('./about.css');
@import url('./experience.css');
@import url('./education.css');
@import url('./portifolio.css');
@import url('./skills.css');
@import url('./footer.css');
@import url('./copy.css');

.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}
.section-title {
  font-size: 2rem;
  grid-column: 1 / -1;
  font-family: Poppins;
}
.section-text {
  margin-right: 20px;
  color: var(--secondary-text);
  grid-column: 2;
}
.section-bg {
  display: grid;
  justify-content: start;
  align-items: center;
  color: rgb(243, 241, 241);
  text-transform: uppercase;
  max-width: 6ch;
  word-break: break-all;
  font-weight: bold;
  font-size: 8rem;
  grid-column: 1;
  font-family: Poppins;
}
.section-list {
  display: grid;
  gap: 20px;
  grid-column: 2;
}
.subsection-title {
  margin-bottom: 20px;
  font-family: Poppins;
}
.subsection-list {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 20px;
}
.header,
.main,
.footer,
.copy {
  margin: auto;
  max-width: 1400px;
}
.main .about-bg,
.main .experience-bg,
.main .education-bg,
.main .portifolio-bg,
.main .skills-bg {
  width: 100%;
  padding: 32px;
}
@media (max-width: 1200px) {
  .subsection-list {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (max-width: 1000px) {
  .section-bg {
    font-size: 6rem;
  }
  .subsection-list {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media (max-width: 800px) {
  .section-bg {
    font-size: 5rem;
  }
  .subsection-list {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 600px) {
  .section {
    grid-template-columns: 1fr;
  }
  .section-bg {
    display: none;
  }
  .section-text {
    grid-column: auto;
  }
  .section-list {
    grid-column: auto;
  }
}
@media (max-width: 500px) {
  .subsection-list {
    grid-template-columns: repeat(5, 1fr);
  }
}